

body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
   display: flex;
   justify-content: center;
   flex-direction: column;
   min-height: 100vh;
   
}

.container{
    flex:1;

}
/* navbar */

.navbar{
    height:5 rem;
    background-color: white;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important;
}

/* //footer */

.f-info{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    
}
.f-info-links , .f-info-socials, .f-info-brand{
    width:100%;
    
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

/* cards */

.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400!important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity:0.2 ;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}

/* show page  */
.im{
   
    height: 350px;
    width: 600px;
   
   

}
/* .c{
    margin-left:20rem;
} */

.b{
    display: flex;
}

#e{
    margin-right: 3rem;
}

/* .r{
    padding-right: 10rem;
} */

#editimage img {
  max-width: 100%;
  width: 150px;
  max-height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

